[alias]
	month = !bash ~/.local/git-month.sh
[pull]
    rebase = true
[rebase]
    autosquash = true
[credential]
    helper = cache
[include]
    path = .local/.gitconfig
[init]
	defaultBranch = main

[url "git@github.com:"]
    insteadOf = "gh:"
[url "git@github.com:iyzana/"]
    insteadOf = "gh:/"
[url "git@bitbucket.org:"]
    insteadOf = "bb:"
[url "git@bitbucket.org:succcubbus/"]
    insteadOf = "bb:/"

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = "code --wait $MERGED"
[diff]
    tool = kitty
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
