@-moz-document domain(qntm.org) {
  .page__wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@-moz-document url("about:newtab") {
  body {
    background-color: #1c1b22 !important;
  }
}

@-moz-document url("about:home") {
  body {
    background-color: #1c1b22 !important;
  }
}

@-moz-document url-prefix(about:reader) {
  body.serif {
    font-family: Merriweather !important;
    font-weight: lighter;
  }

  body.sans-serif {
    font-family: MerriweatherSans !important;
  }

  ::selection {
    background-color: #22437e !important;
  }

  h1,
  h2,
  h3 {
    font-family: MerriweatherSans !important;
    font-weight: bold !important;
  }

  .header > h1 {
    font-size: 2.5em !important;
    line-height: 1.1em !important;
  }

  body.dark {
    color: #e2ded9 !important;
    background-color: #131515 !important;
  }

  body.dark .reader-credits,
  body.dark .meta-data {
    color: #b3ab9f !important;
  }

  .header > .domain {
    display: none !important;
    /* border: none !important; */
  }

  body.dark .domain {
    color: #b3ab9f !important;
  }

  .header > .domain-border {
    display: none !important;
    /* padding-bottom: 100px !important; */
  }

  .container > hr {
    display: none !important;
  }

  .toolbar {
    border: none !important;
    box-shadow: none !important;
  }

  img,
  figure,
  table {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  a:link {
    text-decoration: none !important;
    font-weight: inherit !important;
  }

  body.dark a:link {
    color: #b4c8eb !important;
  }

  body.dark a:visited {
    color: #e2a7e5 !important;
  }

  table {
    border: unset !important;
    border-collapse: collapse !important;
  }

  table th,
  table td {
    border: unset !important;
    padding: 12px 15px;
  }

  body.dark table tbody tr {
    border-top: 1px solid #d7d2cb !important;
    border-bottom: 1px solid #d7d2cb !important;
  }

  body.dark table tbody tr:nth-of-type(even) {
    background-color: #191c1c !important;
  }

  body.dark table tbody tr:first-of-type {
    border-top: 2px solid #d7d2cb !important;
  }

  body.dark table tbody tr:last-of-type {
    border-bottom: 2px solid #d7d2cb !important;
  }

  blockquote {
    border-radius: 0 !important;
  }
}
