[pull]
    rebase = true
[rebase]
    autosquash = true
[credential]
    helper = cache
[include]
    path = .local/share/git/config
[init]
    defaultBranch = main

[url "git@github.com:"]
    insteadOf = "gh:"
[url "git@github.com:iyzana/"]
    insteadOf = "gh:/"
[url "git@git.sr.ht:~iyzana/"]
    insteadOf = "sh:/"

[diff]
    tool = kitty
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[core]
    hooksPath = ~/.local/share/git/hooks
    editor = nvim --cmd 'let g:unception_block_while_host_edits=1'
