* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  min-height: 0;
}

window#waybar {
  /* background-color: rgba(0, 0, 0, 0.35); */
  background-color: #1c1c1c;
  color: #ffffff;

  font-family: SF Pro Text, Roboto, Helvetica, sans-serif;
  font-size: 13px;
}

window#waybar.solo {
  background-color: #1c1c1c;
}

#window {
  opacity: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-weight: normal;
  min-width: 20px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inherit;
}

#workspaces button.focused {
  border-bottom: 3px solid #ffffff;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

/* window#waybar.solo #workspaces button.focused {} */

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0 4px;
  background-color: #1c1c1c;
  color: #ffffff;
}

#clock {
  /* background-color: #64727d; */
  /* font-variant-numeric: tabular-nums; */
}

#battery {
  /* background-color: #ffffff; */
  /* color: #000000; */
}

#battery.charging {
  color: #26a65b;
  /* color: #ffffff; */
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    color: #ffffff;
  }
}

#battery.top,
#battery.full.charging,
#battery.full.plugged {
  color: #26a65b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  color: #fccc2d;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  /* background-color: #f53c3c; */
  /* color: #ffffff; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  /* background-color: #f1c40f; */
  /* color: #000000; */
}

#pulseaudio.muted {
  /* background-color: #90b1b1; */
  /* color: #2a5c45; */
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  /* background-color: #2980b9; */
}

#tray menu {
  background-color: #1c1c1c;
}

/* #idle_inhibitor { */
/*   background-color: #2d3436; */
/*   color: #ffffff; */
/* } */

#idle_inhibitor.activated {
  /* background-color: #ecf0f1; */
  color: #ffc800;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
