configuration {
    modi: "drun,calc,window";
    font: "hack 14";
    show-icons: true;
    icon-theme: "Papirus";
    width: 22;
    kb-cancel: "Escape,Control+g,Control+bracketleft,Alt+space";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-row-up: "Up,Control+p,Control+k";
    kb-row-down: "Down,Control+n,Control+j";
    kb-remove-to-eol: "";
}

@theme "iyzana"
